html, body{
    height:100vh;
}
body {
    background-color: #222;
}

.over {
    overflow: auto;
    min-height: 290px;
    max-height: 330px;
}
aside .over{
    min-height:0 !important;
}
table tr:first-child td{
    border-top:none !important;
}
.panel{
    height: 100%;
    margin-bottom:0;
}
.panel-body{
    background: white;
    border: 20px solid whitesmoke;
    box-shadow:inset 0 0 2px grey;
}
.modal-dialog{
    left: 50%!important;
    top: 50%!important;
    transform: translate(-50%, -50%) !important;
    position:fixed;
}
.navbar{
    position: fixed;
    width: 100% !important;
    z-index: 99;
}
.modal-backdrop{
    z-index:0 !important; 
}
.navbar-inverse{
    background-color: #337ab7;
}
.navbar-inverse .navbar-brand {
    color: white;
    font-size: 24px;
}
.btn-primary{
    border-color: darkslategray;
}
.cbalink{
    display:none !important;
}
section.row{
    padding-top:100px;
    height:100vh;
}
.form-group {
    margin-top: 15px;
    margin-bottom: 15px;
}
footer div{
    bottom: 20px !important;
    position: fixed !important;
}
.panel{
    max-height:600px !important;
}
.panel-body table tr:second-child td{
    float:left;
}