html, body{
    height:100%;
}
body {
    background-color: #222;
}

.over {
    overflow: auto;
    min-height: 330px;
    max-height: 350px;
}
aside .over{
    min-height:0 !important;
}
table tr:first-child td{
    border-top:none !important;
}
.panel{
    height: 100%;
    margin-bottom:0;
}
.panel-body{
    background: white;
    border: 20px solid whitesmoke;
    box-shadow:inset 0 0 2px grey;
}
.modal-dialog{
    left: 50%!important;
    top: 50%!important;
    transform: translate(-50%, -50%) !important;
    position:fixed;
}
.navbar-inverse{
    background-color: #337ab7;
}
.navbar-inverse .navbar-brand {
    color: white;
    font-size: 24px;
}
.btn-primary{
    border-color: darkslategray;
}
.cbalink{
    display:none !important;
}
