body {
    background-color: #222;
    color: #FFF;
}
#footer {
    bottom: 0px;
    position: fixed;
    width: 100%;
    padding-bottom: 15px;
    background-color: #222;
    margin-top: 80px;
    
}
.center {
    position: absolute;
    top: 20%;
    right: 7%;
    height: 600px;
    width: 86%;
}
.center-error {
    position: absolute;
    top: 45%;
    left: 26%;
    width: 46%;
    text-align: center;
}
.panel-body {
    color: #000;
}
.margin {
}
@media (max-width: 768px) {
    .center {
        top: 6%;
        height: 850px;
    }
}